.header {
  width: 100%;
  min-height: 50px;
  max-height: 50px;
  top: 0;
  border: 1px solid black;
}

.container {
  border: 1px solid black;
  height: 700px;
  width: 100%;
}

.side-bar-left {
  width: 15%;
  float: left;
  display: inline-block;
  height: 100%;
  background-color: green;
}

.main-content {
  display: inline-block;
  float: left;
  width: 85%;
  height: 100%;
  background-color: blue;
}

svg { 	
	pointer-events: none;
    	display: block;
   	width: 150px;
    	height: 25px;
    	margin-top: 10px; 
}

.side-bar-left ul{
	list-style-type: none;
	
	
}